@if (leftTeam?.tricode && rightTeam?.tricode) {
<div
  class="flex h-screen w-screen flex-row"
>
  @if (!hideBg) {
  <img class="absolute -z-10" src="/assets/maps/wide/{{statsData?.metadata?.map?.name}}.webp" />
  }
  <!-- LEFT TEAM -->
  <div class="relative ml-10 my-4.5 grid h-97/100 w-[740px] grid-cols-[740px] grid-rows-[220px_10px_160px_160px_10px_485px]">
    <!-- Team Info -->
    <div class="backdrop-blur-2xl backdrop-brightness-40 row-span-1 rounded-tl-lg"
    [class]="hideBg ? 'bg-black/70' : 'bg-black/10'">
      <div class="flex h-full w-full flex-row items-center">
        <img class="h-3/4 w-1/6 object-contain p-8" src="{{leftTeam?.url}}" />
        <div class="flex h-1/2 w-2/6 flex-col justify-around">
          <span class="font-replica ml-2 text-6xl text-white uppercase">{{leftTeam?.tricode}}</span>
          <span class="font-replica ml-2 text-3xl text-postmatch-secondary uppercase">{{ (leftTeam?.won ? TranslateKeys.Breakdown_Win : TranslateKeys.Breakdown_Loss) | translate }}</span>
        </div>
        <div class="w-2/6"></div>
        <div class="font-foundry-extrabold w-1/6 text-center text-[108px] text-white pr-6">
          {{leftTeam?.rounds?.won}}
        </div>
      </div>
    </div>
    <!-- Spacer -->
    <div>
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1840" height="10" viewBox="0 0 1840 10">
        <defs>
          <clipPath id="clip-path">
            <rect id="Rectangle_134" data-name="Rectangle 134" width="1840" height="10" transform="translate(40 238)" fill="none"/>
          </clipPath>
          <pattern id="pattern" preserveAspectRatio="none" width="100%" height="100%" viewBox="0 0 6701 2244">
            <image width="6701" height="2244" xlink:href="assets/breakdown/accentTexture.webp"/>
          </pattern>
        </defs>
        <g id="Line_Accent_1" data-name="Line Accent 1" transform="translate(-40 -238)" clip-path="url(#clip-path)">
          <rect id="Rectangle_133" data-name="Rectangle 133" width="1840" height="10" transform="translate(40 238)" fill="var(--color-postmatch-primary)"/> <!-- Accent fill -->
          <rect id="_3511f4ab-b25b-44d2-939b-c9228ad71e7b" data-name="3511f4ab-b25b-44d2-939b-c9228ad71e7b" width="1850" height="620" transform="translate(35 217)" fill="url(#pattern)" style="mix-blend-mode: darken;isolation: isolate"/>
        </g>
      </svg>
    </div>
    <!-- MVP -->
    <div class="absolute backdrop-blur-xl backdrop-brightness-90 w-[740px] h-[320px] mt-[230px] -z-10"
    [class]="hideBg ? 'bg-black/70' : 'bg-black/30'"
    ></div>
    <app-mvp-player
      [player]="leftPlayers![0]"
      class="row-span-2 bg-linear-to-t from-black to-black/0"
    ></app-mvp-player>
    <!-- Spacer -->
    <div>
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1840" height="10" viewBox="0 0 1840 10">
        <defs>
          <clipPath id="clip-path">
            <rect id="Rectangle_136" data-name="Rectangle 136" width="1840" height="10" transform="translate(40 238)" fill="none"/>
          </clipPath>
          <pattern id="pattern" preserveAspectRatio="none" width="100%" height="100%" viewBox="0 0 6701 2244">
            <image width="6701" height="2244" xlink:href="assets/breakdown/accentTexture.webp"/>
          </pattern>
        </defs>
        <g id="Line_Accent_2" data-name="Line Accent 2" transform="translate(-40 -238)" clip-path="url(#clip-path)">
          <rect id="Rectangle_135" data-name="Rectangle 135" width="1840" height="10" transform="translate(40 238)" fill="var(--color-postmatch-primary)"/>
          <rect id="_3511f4ab-b25b-44d2-939b-c9228ad71e7b" data-name="3511f4ab-b25b-44d2-939b-c9228ad71e7b" width="1850" height="620" transform="translate(35 -355)" fill="url(#pattern)" style="mix-blend-mode: multiply;isolation: isolate"/>
        </g>
      </svg>
    </div>
    <div class="flex flex-row h-[485px]">
      <!-- Map area -->
      <div class="relative w-[295px] h-[485px] overflow-hidden rounded-bl-lg">
        <img class="absolute h-full w-full object-cover" src="/assets/maps/tall/{{statsData?.metadata?.map?.name}}.webp" />
        <div class="absolute bottom-0 left-0 flex h-14 w-57.5 bg-postmatch-primary rounded-tr-lg items-center justify-center">
          <span class="font-replica text-3xl text-white uppercase">{{statsData?.metadata?.map?.name}}</span>
        </div>
      </div>
      <!-- Regular player cards -->
      <div class="flex flex-col w-[445px]">
        @for (i of numSequence(leftPlayers?.length || 0); track $index) { @if ($index > 0) {
        <app-regular-player
          class="bg-black h-[121px] w-full"
          [player]="leftPlayers![$index]"
        ></app-regular-player>
        } }
        <div class="absolute bg-postmatch-primary w-312.5 h-0.5 bottom-1 z-2"></div>
        <div class="absolute bg-postmatch-primary w-312.5 h-0.5 bottom-31 z-2"></div>
        <div class="absolute bg-postmatch-primary w-312.5 h-0.5 bottom-61.5 z-2"></div>
        <div class="absolute bg-postmatch-primary w-312.5 h-0.5 bottom-91.5 z-2"></div>
      </div>
    </div>
  </div>
  <!-- Middle Info Panel -->
  <div class="flex flex-col w-90 my-4.5 gap-2.5 z-1">
    <div class="flex backdrop-blur-2xl backdrop-brightness-70 h-55 items-center"
    [class]="hideBg ? 'bg-black/60' : 'bg-black/30'">
      <img class="h-36 w-full object-contain" [src]="dataModel.tournamentInfo().logoUrl || 'assets/misc/icon.webp'" />
    </div>
    <div class="flex flex-col h-203.5 items-center text-center bg-[#161616]">
      <div class="flex flex-col font-replica text-[1.75rem] text-white uppercase justify-center items-center text-center my-14 gap-10">
        <span>KDA</span>
        <span>ACS</span>
        <span>First Kills</span>
      </div>
      <div class="flex flex-col items-center text-center gap-10.5 mt-8.5">
        @for (i of numSequence(5); track $index) { @if ($index > 0) {
        <div class="flex flex-col font-replica text-[1.375rem] text-white uppercase text-center gap-3">
          <span>KDA</span>
          <span>ACS</span>
        </div>
        } }
      </div>
    </div>
  </div>
  <!-- RIGHT TEAM -->
  <div class="relative mr-10 my-4.5 grid h-97/100 w-[740px] grid-cols-[740px] grid-rows-[220px_10px_160px_160px_10px_485px]">
    <!-- Team Info -->
    <div class="backdrop-blur-2xl backdrop-brightness-40 row-span-1 rounded-tr-lg"
    [class]="hideBg ? 'bg-black/70' : 'bg-black/10'">
      <div class="flex h-full w-full flex-row items-center">
        <div class="font-foundry-extrabold w-1/6 text-center text-[108px] text-white pl-6">
          {{rightTeam?.rounds?.won}}
        </div>
        <div class="w-2/6"></div>
        <div class="flex h-1/2 w-2/6 flex-col items-end justify-around">
          <span class="font-replica mr-2 text-6xl text-white uppercase">{{rightTeam?.tricode}}</span>
          <span class="font-replica mr-2 text-3xl text-postmatch-secondary uppercase">{{ (rightTeam?.won ? TranslateKeys.Breakdown_Win : TranslateKeys.Breakdown_Loss) | translate }}</span>
        </div>
        <img class="h-3/4 w-1/6 object-contain p-8" src="{{rightTeam?.url}}" />
      </div>
    </div>
    <!-- Spacer -->
    <div></div>
    <!-- MVP -->
    <div class="absolute bg-black/30 backdrop-blur-xl backdrop-brightness-90 w-[740px] h-[320px] mt-[230px] -z-10"
    [class]="hideBg ? 'bg-black/70' : 'bg-black/30'"
    ></div>
    <app-mvp-player
      [player]="rightPlayers![0]"
      [isRight]="true"
      class="row-span-2 bg-linear-to-t from-black to-black/0"
    ></app-mvp-player>
    <!-- Spacer -->
    <div></div>
    <div class="flex flex-row h-[485px]">
      <!-- Regular player cards -->
      <div class="flex flex-col w-[445px]">
        @for (i of numSequence(rightPlayers?.length || 0); track $index) { @if ($index > 0) {
        <app-regular-player
          class="bg-black h-[121px] w-full"
          [player]="rightPlayers![$index]"
          [isRight]="true"
        ></app-regular-player>
        } }
      </div>
      <!-- Sponsor area -->
      <div class="flex relative w-[295px] h-[485px] bg-[#111111] overflow-hidden items-center justify-center rounded-br-lg">
        <img class="h-18 w-full object-contain" src="{{dataModel.sponsorInfo().sponsors[0] || 'assets/misc/logo.webp'}}" />
      </div>
    </div>
  </div>
</div>
}